body {
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
    height: 40px;
    width: 40px;
}

#temperature-reset {
    width: 200px;
}

.low-usage {
    color: green;
}

.medium-usage {
    color: black;
}

.high-usage {
    color: red;
}